* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.align-center {
  align-items: center;
  justify-content: center;
}

.flex.column {
  flex-direction: column;
}

.main-content {
  margin: auto;
  max-width: 980px;
}

.travel-container {
  background-color: transparent;
}

.travel-container .map-container {
  margin: 10px;
  border-radius: 5px;
  flex-grow: 2;
}

.travel-container .map-container #map {
  height: 100%;
  width: 100%;
}

.travel-container .map-container .add-loc {
  cursor: pointer;
  position: relative;
  height: 35px;
  top: -70px;
  left: 10px;
  background-color: gold;
  padding: 3px;
  border-radius: 5px;
}

.travel-container .sidebar {
  flex-grow: 1;
}

.travel-container .weather {
  margin: 10px;
  border-radius: 5px;
  background-color: lightskyblue;
  height: 220px;
}

.travel-container .item {
  min-height: 100px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.travel-container .pagination-navigator {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

footer {
  text-align: center;
  background-color: lightsteelblue;
  padding: 20px 0;
}

@media screen and (max-width: 760px) {
  .travel-container {
    flex-direction: column;
  }

  .travel-container #map {
    min-height: 320px;
  }

  .travel-container .sidebar {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .travel-container .weather {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .travel-container .item:nth-child(2) {
    grid-row: 1;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 760px) {
}
